<header class="header">
    <mat-toolbar>

        <span class="fill-space" ></span>

        <span class="option-link" routerLink="/public/register"> Sign up </span>
        <span class="option-link" routerLink="/public/login"> Sign in </span>
    </mat-toolbar>

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main"> Your favourite concert is just a click away</span>
            <span class="heading-primary-sub"> Book a ticket now </span>
        </h1>
        <a href="#" class="btn btn-white btn-animated" routerLink="/public/login">Browse our concerts</a>
    </div>


</header>
<div class="instructions-cards">
<mat-card class="card-small" routerLink="/private/book-event">
    <mat-icon>event</mat-icon>
    Create events for you or for your company
</mat-card>
<mat-card class="card-small" routerLink="/private/book-ticket">
    <mat-icon>credit_card</mat-icon>
     Buy your tickets now
</mat-card>
</div>

<mat-divider></mat-divider>

<div class="map-container">
    <p style="font-size: 40px; "> Find concerts in a specific location </p>
<div class="map" id="map" class="match-parent"></div>
</div>



<div class="slider">
    <p style="text-align: center; font-size: 16px;"> With Great Outcomes.
   Advertise your event in awesome companies like. </p>
    <div class="slide-track">
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
        </div>
    </div>
</div>

<footer>

</footer>
