<mat-toolbar class="unique-toolbar-component">
    Profile
</mat-toolbar>
<p class="title">
    Edit your profile
</p>
<mat-divider></mat-divider>

    <div class="profile-container">

        <div class="profile-form">
        <p>
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput placeholder="First namer" [(ngModel)]="user.first_name" required>
            <mat-hint> First name</mat-hint>
        </mat-form-field>
    </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input matInput placeholder="Last name" [(ngModel)]="user.last_name" required>
                <mat-hint> Last name</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Role</mat-label>
                <input matInput placeholder="Role" [(ngModel)]="user.role" disabled  required>
                <mat-hint> Role</mat-hint>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" [(ngModel)]="user.email" disabled required>
                <mat-hint> Email</mat-hint>
            </mat-form-field>
        </p>

        </div>
    </div>



<div class="bottom-buttons">
<button mat-flat-button  (click)="editProfile()">
    Edit your profile
</button>

</div>

<mat-divider></mat-divider>

<div class="go-to-events">
    <button mat-raised-button routerLink="/private/book-event">Go to events session</button>
</div>

<div class="title-purchased-tickets">
    <p *ngIf="!noTicketsAvailable">
      Your purchased tickets
    </p>
    <p *ngIf="noTicketsAvailable">
        Your haven't purchased tickets yet
    </p>
</div>


<div *ngIf="tickets">
<mat-grid-list cols="3" rowHeight="7:3" [gutterSize]="'15px'">
    <mat-grid-tile *ngFor="let event of tickets">
    <mat-grid-tile-header>
       {{event.location}}
    </mat-grid-tile-header>
        <mat-chip-list aria-label="Fish selection">
            <mat-chip color="accent" selected> Available tickets at the moment: {{event.tickets}} </mat-chip>
        </mat-chip-list>
        <mat-grid-tile-footer>
           Date of the concert {{event.date |  date:'medium'}}
        </mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>
</div>

<footer class="footer">


</footer>
