.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;

}
.example-card {
    max-width: 400px;


}

.example-header-image {

        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        text-align: center;
        font-size: 18px;
        border: 2px solid #666;
        background-color: white;
        color: #02203c;
        cursor: pointer;

}

.profile-info {
    margin-top : 24px;
}




.bottom-buttons {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .mat-flat-button {
        background-color: #02203c;
        color: white;
    }
}


.profile-form {
    margin-top: 8rem;
}

mat-grid-list {
    margin: 60px 40px 40px;
    mat-grid-tile {
        background-color: #626ee3;
    }
}

.title-purchased-tickets {
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
}

.go-to-events {
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
        margin-top: 20px;
        width: 200px;
        background-color: #626ee3;
        color: white;
        height: 50px;
        font-size: 16px;
    }
}

footer {
    background-color: #626ee3;
    height: 200px
}

.title {
    text-align: center;
    margin: 40px 0 40px;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    color: #626ee3;
}

mat-divider {
    margin: 10px 70px 70px 70px;
}



