
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02203c;
   
}



.content-form {
    background-color: #eeeeee;
    flex-grow: 1;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    height: 300px;
    margin-bottom: 30px;
    .email {
        margin-top: 10px;
        width: 400px;
    }
    .description {
        margin-top: 10px;
        width: 400px;
    }

    .email-button {
        margin-top: 10px;
        width: 400px;
        height: 50px;
    }

    .warning {
        width: 400px;
        margin-top: 20px;
        background: rgba(239, 52, 30, 0.2);
        display: inline-flex;
        max-width: 100%;
        padding: 12px 16px 14px 21px;
        border-radius: 6px;
        color: rgba(39, 40, 44, 0.7);
    }
    .succesful-msg {
        width: 400px;
        margin-top: 20px;
        background: #b7efcd;
        display: inline-flex;
        max-width: 100%;
        padding: 12px 16px 14px 21px;
        border-radius: 6px;
        color: rgba(39, 40, 44, 0.7);
        .tick-icon {
            color: #eeeeee;
            margin-right: 10px;
        }
    }
}

