<div class="container">
    <mat-card class="content-form">
        <p class="description">
            Subscribe to our daily weekly or monthly newsletter
        </p>
        <mat-form-field class="email" appearance="outline">
            <mat-label> Email </mat-label>
            <input matInput placeholder="Email" [(ngModel)]="email" />
        </mat-form-field>
        <button class="email-button" mat-raised-button color="primary" (click)="newsLetterSubscription()">
            Subscribe
        </button>
        <p *ngIf="emailSent" class="succesful-msg">
            <mat-icon class="tick-icon">check_circle_outline</mat-icon>
            Your request has been accepted check your email and follow the instructions
        </p>
    </mat-card>
</div>
