



<div *ngIf="user.role === 'superAdmin'" class="container">

    <mat-spinner  *ngIf="isLoading"></mat-spinner>


    <mat-form-field class="filter-options">
        <mat-label>Show users by role</mat-label>
        <mat-select >
            <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption.value" (click)="applyFilter(filterOption.value)" >
                {{filterOption.viewValue}}

            </mat-option>
        </mat-select>
    </mat-form-field>


<table  *ngIf="!isLoading" mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> <button  [disabled]="element.role === 'superAdmin'" mat-raised-button class="delete-button" (click)="delete(element)" > Delete </button>
             </td>
    </ng-container>

    <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element"> <button  [disabled]="element.role === 'superAdmin'" mat-raised-button class="edit-button" (click)="editUser(element)" > Edit </button> </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  class="element-row" *matRowDef="let row; columns: displayedColumns;" ></tr>

</table>


<p style="text-align: center; margin-top: 40px; font-size: 40px;"> Available Events </p>

<div class="cards-container">
    <mat-card *ngFor="let event of events">
        <mat-card-title> <mat-chip> Creator {{event.creator}} </mat-chip> </mat-card-title>
        <mat-card-subtitle> Date of the event {{event.date | date:'medium'}} </mat-card-subtitle>
        <mat-card-content>
            <p>
                {{event.location}}  is a port city situated on the south coast of Devon, England, approximately 37 miles (60 km) south-west of Exeter and 190 miles (310 km)
                west-south-west of London.
                Enclosing the city are the mouths of the river Plym and river Tamar, which are naturally incorporated into Plymouth Sound to form a boundary with Cornwall.
            </p>
        </mat-card-content>

        <mat-chip-list>
            <mat-chip >
                {{event.location}}
            </mat-chip>
            <mat-chip color="primary" *ngIf="event.tickets >0"> Available tickets {{event.tickets}} </mat-chip>
            <mat-chip color="warn" *ngIf="event.tickets === 0" selected> Out of stock </mat-chip>
            <button mat-button class="detail-button" routerLink="/private/event-details/{{event._id}}">Details</button>
            <button mat-button class="edit-button" [disabled]="event.tickets === 0" (click)="buyTicket(event)">Buy Now</button>
        </mat-chip-list>

    </mat-card>

</div>

    <mat-divider></mat-divider>


</div>

<footer *ngIf="user.role === 'superAdmin'" class="footer">

</footer>
