.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.login-form {
    margin-top:120px;
    display: flex;
    flex-direction: column;

    align-items: center;

    .mat-form-field {
        width: 410px;
    }

    .actions {
         width: 400px;
        display: flex;
        justify-content: space-between;
    }

    .mat-raised-button {
        background-color: #626ee3;
        color: white;
        align-items: center;

    }

    .forgot-password {
        color: blue;
    }
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

span {
    cursor: pointer;
}



.logo {

    border-radius: 50%;
    margin-right: 100px;
    margin-top: 50px;

}


.back-to-register {
       margin-left: 6rem;
    margin-top: 6rem;
}
img {
    border-radius: 21%;
}

body {
    background-color: #343434;
    display: block;
}


