<mat-toolbar class="unique-toolbar-component">
    Login
    <span class="example-fill-remaining-space"></span>

    <span routerLink="/public/register"> Sign up</span>
</mat-toolbar>

<div class="container">

    <form class="login-form" [formGroup]="loginForm">

        <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-hint>Required</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label> Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button (click)="onSubmit()"> Log in </button>

    </form>


</div>


