
<button class="back-to-register" mat-button color="primary" routerLink="/public/register">
    <mat-icon>arrow_back</mat-icon> Create an account
</button>
<div class="container">
   
    <div class="logo">
        <img  src="/assets/concent-logo.png"
              alt="Grapefruit slice atop a pile of other slices" height="350" width="350">
    </div>

    <form class="login-form" [formGroup]="loginForm">
        <mat-form-field appearance="outline" >
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-hint>Required</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <div class="actions">
            <button class="forgot-password" mat-button router [routerLink]="[ '/public/forgot-password' ]"
                routerLinkActive="active"> Forgot password </button>
            <button mat-raised-button (click)="onSubmit()"> Log in </button>        
        </div>
    </form>


</div>


<mat-divider style="margin-top: 250px; margin-bottom: 10px;"></mat-divider>


<p style="font-weight: 500; text-align: center; color: #626ee3;">
    © 2020 Ticket-App, Inc. - Ticket-App, Ticket-App, and the Ticket-App leaf logo are registered trademarks of
    Ticket-App, Inc. |
</p>


