.example-fill-remaining-space {
    flex: 1 1 auto;
}


.mat-sidenav {
    width: 20%;
    background-color: #02203c;

    mat-list-item {
        color: white;
        cursor: pointer;
        height: 50px;
        font-size: 16px;
    }

    mat-list-item:hover {
        background-color: white;
        color: #02203c;

    }

    .arrow_forward {

    }

    mat-divider {
        background-color: darkgrey;
    }

}



.numberCircle {
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 2px solid #666;
    background-color: white;
    color: #02203c;
    cursor: pointer;

   .mat-menu-content {
       width: 272px;
   }
}

.header-toolbar {
    background-color: #02203c;
    color: white;
    position: sticky;
    height: 63px;
    .link {
        margin: 0 15px;
        border-bottom: 4px solid transparent;
        padding: 35px 0 35px;
    }

    .link:hover {
        color: #fc0;
        border-bottom-color: #fc0;
    }

    .album {
        color: #626ee3;
        height: 12px;
        width: 13px;
    }
}

.user-info {
    display: inline-block;
    color: #fff!important;
    font-size: 14px;
    text-decoration: none!important;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
}

.numberCircle:hover .user-info {
    background-color: #02203c;
    color: white;
}

span {
    cursor: pointer;
    font: 500 14px/20px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;


}

span:hover {
    border-radius: 3px 3px 0 0;

}



