.example-fill-remaining-space {
    flex: 1 1 auto;
}

::ng-deep .menu {
    width: 290px;
    max-height: 300px;
     background-color: #eeeeee ;
}



.email-menu, .manage-your-account   {
    text-align: center;
   
}





.mat-sidenav {
    width: 300px;
    background-color: #02203c;

    mat-list-item {
        color: white;
        cursor: pointer;
        height: 50px;
        font-size: 16px;
    }

    mat-list-item:hover {
        background-color: white;
        color: #02203c;

    }
    mat-divider {
        background-color: darkgrey;
    }

}

.search-bar {
    padding: 0px 20px 0px;
    input {
    border-radius: 25px;
    padding: 10px 20px 10px;
    }
}

.numberCircle {
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    border: 2px solid #666;
    background-color: white;
    color: #02203c;
    cursor: pointer;
    margin-right: 20px;

   mat-menu-content {
       width: 272px !important;
   }
}

.notifications {
    color: white;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 12px;

}

.header-toolbar {
    background-color: #02203c;
    color: white;
    position: sticky;
    height: 63px;
    padding: 2px;
    .link {
        margin: 0 10px 0;
       
    }


    .album {
        color: #626ee3;
        height: 12px;
        width: 13px;
    }
}

.user-info {
    display: inline-block;
    color: #fff!important;
    font-size: 14px;
    text-decoration: none!important;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
}

.numberCircle:hover .user-info {
    background-color: #02203c;
    color: white;
}

span {
    cursor: pointer;
    font: 500 14px/20px Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;


}

span:hover {
    border-radius: 3px 3px 0 0;

}



