

<div class="content">

<p class="warning"> Use the same email as  you loggged in to change your password </p>    
<mat-form-field class="email" appearance="outline">
    <mat-label> Email </mat-label>
    <input matInput placeholder="Email">
</mat-form-field>
<button class="email" mat-raised-button color="primary"> Submit</button>
<p *ngIf="emailSent" class="succesful-msg">
    <mat-icon class="tick-icon">check_circle_outline</mat-icon>
    Your request has been accepted check your email and follow the instructions
</p>

</div>