<mat-toolbar class="unique-toolbar-component">

    Register Component

</mat-toolbar>

<form class="form" [formGroup]="registerForm">

    <mat-form-field appearance="fill">
        <mat-label> First Name </mat-label>
        <input matInput formControlName="first_name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> Last Name </mat-label>
        <input matInput  formControlName="last_name" required>
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label> Email </mat-label>
        <input matInput placeholder="chris@test" formControlName="email" required>
    </mat-form-field>


<!--    <mat-form-field appearance="fill">-->
<!--        <mat-label> Role </mat-label>-->
<!--        <input matInput  formControlName="role" required>-->
<!--    </mat-form-field>-->

    <mat-form-field appearance="fill">
        <mat-label>Select your role</mat-label>
        <mat-select formControlName="role" required>
            <mat-option value="Admin"> Creator</mat-option>
            <mat-option value="Customer"> Customer</mat-option>
        </mat-select>

    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label> Password </mat-label>
        <input matInput  formControlName="password" required>
    </mat-form-field>


<button mat-raised-button  type="submit" [disabled]="!registerForm.valid" (click)="onSubmit()">  Register </button>


</form>

<p style="margin-top: 17px; text-align: center"> Do you have already an account?
    <button style="margin-left: 5px;" mat-flat-button routerLink="/public/login"> Sign In </button> </p>
