<mat-toolbar class="unique-toolbar-component">
    Book a ticket
</mat-toolbar>

<p class="title">
    All Available Events at the moment
</p>
<mat-divider></mat-divider>

<div class="calendar">
    <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field>
</div>

<div *ngIf="events" class="cards-container">
    <mat-card *ngFor="let event of events">
        <mat-card-title> <mat-chip> Creator {{event.creator}} </mat-chip> </mat-card-title>
        <mat-card-subtitle> Date of the event {{event.date | date: 'medium'}} </mat-card-subtitle>
        <mat-card-content>
            <p>
                {{event.location}}  is a port city situated on the south coast of Devon, England, approximately 37 miles (60 km) south-west of Exeter and 190 miles (310 km)
                west-south-west of London.
                Enclosing the city are the mouths of the river Plym and river Tamar, which are naturally incorporated into Plymouth Sound to form a boundary with Cornwall.
            </p>
        </mat-card-content>

        <mat-chip-list>
            <mat-chip color="warn">
                {{event.location}}
            </mat-chip>
            <mat-chip color="primary" *ngIf="event.tickets > 0"> Available tickets {{event.tickets}} </mat-chip>
            <mat-chip color="warn" *ngIf="event.tickets === 0" selected> Out of stock </mat-chip>
            <mat-chip selected routerLink="/private/event-details/{{event._id}}">  Learn more <span class="filler"></span> <mat-icon>arrow_forward</mat-icon> </mat-chip>
            <span class="filler"> </span>
            <button mat-raised-button class="buy-button" [disabled]="event.tickets === 0" (click)="buyTicket(event)"> <mat-icon>credit_card</mat-icon> Buy now</button>

        </mat-chip-list>


    </mat-card>

</div>


