.calendar {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.cards-container {
    margin-top: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    mat-card {
        width: 300px;
        height: 317px;
        flex: 0 0 35%;
        margin: 5px;
        color: #02203c;
        background-color: white;
        min-width: 300px;
        cursor: pointer;
    }
}


.buy-button {
    background-color: #626ee3;
    color:white;
    margin-left: 15px;
}



