<mat-toolbar class="unique-toolbar-component">
    Book a ticket
</mat-toolbar>

<div class="calendar">
    <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field>
</div>

<div class="cards-container">
    <mat-card *ngFor="let event of events">
        <mat-card-title> <mat-chip> Creator {{event.creator}} </mat-chip> </mat-card-title>
        <mat-card-subtitle> Date of the event {{event.date | date: 'medium'}} </mat-card-subtitle>
        <mat-card-content>
            <p>
                {{event.location}}  is a port city situated on the south coast of Devon, England, approximately 37 miles (60 km) south-west of Exeter and 190 miles (310 km)
                west-south-west of London.
                Enclosing the city are the mouths of the river Plym and river Tamar, which are naturally incorporated into Plymouth Sound to form a boundary with Cornwall.
            </p>
        </mat-card-content>

        <mat-chip-list>
            <mat-chip color="warn">
                {{event.location}}
            </mat-chip>
            <mat-chip color="primary"> Available tickets {{event.tickets}} </mat-chip>
            <button mat-raised-button class="detail-button" routerLink="/private/event-details/{{event._id}}">Details</button>
            <button mat-raised-button class="buy-button" (click)="buyTicket(event)">Buy</button>
        </mat-chip-list>


    </mat-card>

</div>


