
mat-form-field {
 width: 300px;    

}
mat-card {

    height: 100%;
    width: 100%;
    background-color: #fafafa;

    justify-content: center;
    .event-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

        .create-event-button{
            background-color: #626ee3;
            color:white;
            height: 50px;
            font-size: 16px;
            width: 300px;
    }

    .create-event-button:disabled {
        background-color: rgba(0, 0, 0, 0.2);
    }

}

.match-parent {
    width: 1000px;
    height: 600px;
    margin-top: 100px;
}

.showLocation {
    margin-top: 30px;
    background-color: burlywood;
    color: white;
}

mat-slide-toggle {
     margin-top: 80px;
    color:  #626ee3;
}


.title {
    text-align: center;
    margin: 40px 0 40px;
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    color: #626ee3;

}

mat-divider {
    margin: 10px 70px 70px 70px;
}

