<mat-toolbar class="unique-toolbar-component">
    Create your stunning event
</mat-toolbar>

<mat-card>
<div class="event-info">
    <form [formGroup]="eventForm">
    <p>
        <mat-form-field appearance="legacy"  >
            <mat-label>Location</mat-label>
            <input matInput placeholder="Placeholder" formControlName="location">
            <mat-hint> Location </mat-hint>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(value)]="selected" formControlName="concertType">
                <mat-option>None</mat-option>
                <mat-option value="Rock">Rock</mat-option>
                <mat-option value="Pop">Pop</mat-option>
            </mat-select>

            <mat-hint> Type of concert</mat-hint>
        </mat-form-field>

    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Available tickets</mat-label>
            <input matInput placeholder="Placeholder" formControlName="tickets">
            <mat-hint> Number of tickets </mat-hint>
        </mat-form-field>
    </p>

    <p>
    <mat-form-field appearance="legacy">
        <mat-label>Choose a date</mat-label>
        <input matInput  [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </p>
    </form>


    <mat-card-footer>
        <button mat-raised-button class="create-event-button"  [disabled]="!eventForm.valid" (click)="onSubmit()"> Create an event</button>
    </mat-card-footer>

    <div class="map" id="map" class="match-parent"></div>
</div>



</mat-card>

